[submodule "GLaDOS"]
	path = GLaDOS
	url = git@github.com:davesarmoury/GLaDOS.git
[submodule "train_piper/piper"]
	path = train_piper/piper
	url = git@github.com:rhasspy/piper.git
[submodule "jetson-containers"]
	path = jetson-containers
	url = git@github.com:dusty-nv/jetson-containers.git
[submodule "vosk-server"]
	path = vosk-server
	url = https://github.com/alphacep/vosk-server
